In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Spanish_terms.csv')

In [5]:
df['File'] = df['Index']//150000+1

df['Tab'] = (df['Index']%150000)//50000+1

In [6]:
df.head()

  Term    Index  File  Tab
0  que  1607331    11    3
1   de  1273810     9    2
2   no  1529889    11    1
3    a  1117839     8    2
4   la  1463349    10    3